body{
	/*background-color: #f7f8fa;*/
	padding-top: 50px;
}

.cloud{
	height: 25%;
	width: 25%;
	text-align: left;
}

.greeting{
	font-size: 22pt;
}

.dropzone{
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 10px;
    margin-left: auto;
    margin-right: auto;
	font-size: 22pt;
	height: 50px;
}

MuiDropzoneArea-root {
	background: black;
}

/*DropzoneArea {
	font-size: 22pt;
	height: 50px;
	"width" : "100%";
	"height" : "20%";
	"border" : "1px solid black";
}*/

.upload_button{
	font-size: 30pt;
	background-color: aqua;
	border: solid 2pt darkblue;
	border-radius: 8px;
}

.header{
	font-size: 40pt;
	color: darkblue;
}
